<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Hello, world!</title>
</head>

<body id="body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Equipos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex">
                    <button class="btn btn-outline-dark" id="btn-oscuro" onclick="onModoOscuro()"><i class="fas fa-sun"></i></button>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid d-flex flex-column align-items-center mt-3">
        <a href="/create" class="btn btn-outline-primary p-3">Crear un registro nuevo <i class='fas fa-plus' ></i></a>

        <div class="tabla">
            <table id="equipos" class="table table-bordered table-striped text-center mt-4">
                <thead>
                    <tr class="bg-primary text-white">
                        <th scope="col">Acciones</th>
                        <th scope="col">ID</th>
                        <th scope="col">Sucursal</th>
                        <th scope="col">Area</th>
                        <th scope="col">Funcionario Responsable</th>
                        <th scope="col">Nombre Equipo</th>
                        <th scope="col">Lugar de trabajo</th>
                        <th scope="col">Novedades</th>
                        <th scope="col">Tipo de equipo</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Serial</th>
                        <th scope="col">Fecha de fabricacion</th>
                        <th scope="col">Procesador</th>
                        <th scope="col">Generacion procesador</th>
                        <th scope="col">Nucleos</th>
                        <th scope="col">Velocidad en mz</th>
                        <th scope="col">RAM en GB</th>
                        <th scope="col">Tipo de RAM</th>
                        <th scope="col">Adaptador multimedia</th>
                        <th scope="col">Adaptador video</th>
                        <th scope="col">Marca del disco duro</th>
                        <th scope="col">Capacidad del disco</th>
                        <th scope="col">Tipo de disco</th>
                        <th scope="col">Red ethernet</th>
                        <th scope="col">IP</th>
                        <th scope="col">MAC ethernet</th>
                        <th scope="col">Red wifi</th>
                        <th scope="col">MAC</th>
                    </tr>
                </thead>
                <tbody>
                    <% results.forEach(equipo => { %>
                    <tr>
                        <td>
                            <a href="/edit/<%= equipo.id %>" class="btn btn-outline-info"><i class="fas fa-edit"></i></a>
                            <a  onclick="confirmar('<%= equipo.id %>')" class="btn btn-outline-danger"><i class="fas fa-trash"></i></a>
                        </td>
                        <td><%= equipo.id %></td>
                        <td><%= equipo.sucursal %></td>
                        <td><%= equipo.area %></td>
                        <td><%= equipo.funcionario_responsable %></td>
                        <td><%= equipo.nombre_equipo %></td>
                        <td><%= equipo.lugar_de_trabajo %></td>
                        <td><%= equipo.novedades %></td>
                        <td><%= equipo.tipo_equipo %></td>
                        <td><%= equipo.marca %></td>
                        <td><%= equipo.modelo %></td>
                        <td><%= equipo.serial %></td>
                        <td><%= equipo.fecha_fabricacion %></td>
                        <td><%= equipo.procesador %></td>
                        <td><%= equipo.generacion_procesador %></td>
                        <td><%= equipo.nucleos %></td>
                        <td><%= equipo.velocidad_mz %></td>
                        <td><%= equipo.ram_gb %></td>
                        <td><%= equipo.tipo_memoria %></td>
                        <td><%= equipo.adaptador_multimedia %></td>
                        <td><%= equipo.adaptador_video %></td>
                        <td><%= equipo.marca_disco_duro %></td>
                        <td><%= equipo.capacidad_disco %></td>
                        <td><%= equipo.tipo_disco %></td>
                        <td><%= equipo.red_ethernet %></td>
                        <td><%= equipo.ip %></td>
                        <td><%= equipo.mac_ethernet %></td>
                        <td><%= equipo.red_wifi %></td>
                        <td><%= equipo.mac %></td>
                        
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#equipos').DataTable({
                pageLength:5,
                lengthMenu:[[5,10,20,-1],[5,10,20,'Todos']]
            });
        } );

        //confirma la eliminacion
        function confirmar(id){
            Swal.fire({
                title: '¿Quiueres eliminar esta persona con el id: ' + id + '?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'confirmar',
                }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    Swal.fire('Eliminado Exitosamente!', '', 'success')
                    setTimeout(() => {
                        window.location = '/delete/' + id
                    }, 3000);
                } else if (result.isDenied) {
                    Swal.fire('No se elimino', '', 'info')
                }
            })
        }
    </script>

    <script src="./scripts/modoOscuro.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>